.rootContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 360px;
  min-height: 360px;
  overflow: visible;
  margin: 0 0 0 0;
}

.headContainer {
  display: flex;
  flex: 1;
  background-color: #e9f2ff;
  width: 100%;
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: row;
}

.filterContainer {
  display: flex;
  flex: 1;
  background-color: #83a1fa;
  width: 100%;
  /* justify-content: space-around; */
  align-items: center;
  flex-direction: row;
}

.projectName {
  display: flex;
  flex: 1;
  padding: 0 2vh 0 2vh;
}

.filterUtils {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 0 2vh 0 2vh;
}

.contentContainer {
  display: flex;
  flex: 16;
  background-color: #e9f2ff;
  width: 100%;
  justify-content: flex-start;
}

.listCategory {
  display: flex;
  flex-direction: row;
  gap: 4vh;
  padding: 4vh;
  overflow-x: auto;
}

.homeContainer {
  flex: 1;
  padding: 0 2vh 0 2vh;
}

.homeIcon {
  color: #83a1cc;
}

.homeIcon:hover {
  color: #83a1fa;
}

.searchContainer {
  display: flex;
  flex: 16;
  padding: 0 26vh 0 36vh;
  min-width: 120px;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.searchButton {
  height: 4vh;
  padding: "12px";
  background-color: #0052cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

.profileContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding: 0 2vh 0 2vh;
}

.profileIcon {
  color: #83a1cc;
}

.profileIcon:hover {
  color: #83a1fa;
}
