.listBoxRootContainer {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  min-width: 200px;
  padding: 2vh;
  background-color: #83a1cc;
  color: white;
  box-shadow: 0 2px 4px #0000000d;
  border-radius: 4px;
  gap: 2vh;
}

.listHeader {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-between;
  align-items: flex-start;
}

.listName {
  align-self: center;
}

.listUtils {
  padding: 0.5vh;
  border-radius: 4px;
  cursor: pointer;
}

.listUtils:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
